/* Error: Undefined mixin.
 *    ,
 * 16 |     @include flex-row
 *    |     ^^^^^^^^^^^^^^^^^
 *    '
 *   _styles.sass 16:2  @import
 *   main.sass 3:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 16 \2502      @include flex-row\d\a    \2502      ^^^^^^^^^^^^^^^^^\a    \2575 \a   _styles.sass 16:2  @import\a   main.sass 3:9      root stylesheet";
}
